<footer id="footer" class="footer-bottom">
  <div class="footer-container">
    <div class="footer-button-container">
      <%= link_to '#', class: 'btn btn-outline-primary' do %>
        <%= icon 'fa', 'envelope', 'お問い合わせ' %>
      <% end %>
    </div>
    <div class="footer-button-container">
      <%= link_to '#', class: 'btn btn-outline-primary' do %>
        <%= icon 'fa', 'user-secret', 'プライバシーポリシー' %>
      <% end %>
    </div>
    <div class="footer-button-container">
      <%= link_to '#', class: 'btn btn-outline-primary' do %>
        <%= icon 'fa', 'gear', '利用規約' %>
      <% end %>
    </div>
  </div>
</footer>

footer#footer.footer-bottom
  div.footer-container
    div.footer-button-container
      = link_to '#', class: 'btn btn-outline-primary'
        = icon 'fa', 'envelope', 'お問い合わせ'
    div.footer-button-container
      = link_to '#', class: 'btn btn-outline-primary'
        = icon 'fa', 'user-secret', 'プライバシーポリシー'
    div.footer-button-container
      = link_to '#', class: 'btn btn-outline-primary'
        = icon 'fa', 'gear', '利用規約'
